<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amyzhao.graphtest2" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UserSignInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amyzhao.graphtest2.UserSignInActivity" />
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record"
            android:parentActivityName=".GraphActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amyzhao.graphtest2.GraphActivity" />
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
    </application>

</manifest>
